{% extends 'base.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}

    <div class="flex" style="font-family: Arial;" x-data="{ open: true }">
        {% include './components/sidebar.html.twig' %}
        <div class="w-full z-10">
            {% include './components/navbarBack.html.twig' %}

            <div class="body">
                <div class="p-8 h-screen overflow-auto" style="background-color: #E4E5E6;">
                    <div class="main bg-white border-2 border-gray-300 rounded">
                        <div class="rounded-t border-b-2 border-gray-300" style="background-color: #F0F3F5;">
                            <h1 class="p-4">Tableau de devis client</h1>
                        </div>
                        <div class="p-4">
                            <p class="mb-4">Toutes les propositions de devis sont ici.</p>
                            <hr>
                            <div class=" flex flex-wrap justify-around mx-auto">

                                <div class="overflow-auto mt-2 w-10/12 h-64">
                                    <table class="min-w-full border-collapse block md:table">
                                        <thead class="block md:table-header-group">
                                        <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                                            <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">mail</th>
                                            <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">message</th>
                                            <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody class="block md:table-row-group">

                                        {% if devis is not empty %}
                                            {% for dev in devis %}
                                                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">mail</span>{{ dev.codeClient.email }}</td>
                                                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-2/3 md:hidden font-bold">message</span>{{ dev.messageDevis }}</td>
                                                <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                                    <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                                    <div class="flex flex-wrap justify-around">
                                                        <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">accepter</button>
                                                        <button class="mt-2 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 border border-yellow-500 rounded">refuser</button>
                                                        <button class="mt-2 bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">supprimer</button>

                                                    </div>
                                                </td>
                                            {% endfor %}
                                        {% else %}
                                            <td>
                                                <p class="text-lg text-red-500">Pas de devis en cours pour le moment !</p>
                                            </td>
                                        {% endif %}


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
