{% extends 'base.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}

    <div class="flex" style="font-family: Arial;" x-data="{ open: true }">
        {% include './components/sidebar.html.twig' %}
        <div class="w-full z-10">
            {% include './components/navbarBack.html.twig' %}

            <div class="body">
                <div class="p-8 h-screen overflow-auto" style="background-color: #E4E5E6;">
                    <div class="main bg-white border-2 border-gray-300 rounded">
                        <div class="rounded-t border-b-2 border-gray-300" style="background-color: #F0F3F5;">
                            <h1 class="p-4">Gestion des ventes de produit</h1>
                        </div>
                        <div class="p-4">
                            <p class="mb-4">Seront afficher tout les produits commander par les clients.</p>
                            <hr>
                            Heading Example
                            <h1></h1>

                            h1. Bootstrap heading
                            <h2></h2>

                            h2. Bootstrap heading
                            <h3></h3>

                            h3. Bootstrap heading
                            <h4></h4>

                            h4. Bootstrap heading
                            <h5></h5>

                            h5. Bootstrap heading
                            <h6></h6>

                            h6. Bootstrap heading
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
