{% extends 'base.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}

    <div class="flex" style="font-family: Arial;" x-data="{ open: true }">
        {% include './components/sidebar.html.twig' %}
        <div class="w-full z-10">
            {% include './components/navbarBack.html.twig' %}

            <div class="body">
                <div class="p-8 h-screen overflow-auto" style="background-color: #E4E5E6;">
                    <div class="main bg-white border-2 border-gray-300 rounded">
                        <div class="rounded-t border-b-2 border-gray-300" style="background-color: #F0F3F5;">
                            <h1 class="p-4">Gestion des achats clients</h1>
                        </div>

                        <div class="p-4">
                            <div class="w-10/12 flex flex-wrap justify-around mx-auto">

                                <div class="overflow-auto mt-2 border-2 border-vert3 w-10/12 h-64">
                                    {% if client is not empty %}
                                        {% for commande in client %}
                                            {% for ligneC in commande  %}
                                                {{ dump(ligneC) }}
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-lg text-red-500 mt-2 text-center">Pas de commande client pour le moment !</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        </div>


                        <div class="mt-10 main bg-white border-2 border-gray-300 rounded">
                        <div class="rounded-t border-b-2 border-gray-300" style="background-color: #F0F3F5;">
                            <h1 class="p-4">Gestion des factures</h1>
                        </div>
                            <div class="p-4">
                                <div class="w-10/12 flex flex-wrap justify-around mx-auto">

                                    <div class="overflow-auto mt-2 border-2 border-vert3 w-10/12 h-64">
                                        {% if achat is not empty %}

                                        {% else %}
                                            <p class="text-lg text-red-500 mt-2 text-center">Pas de facture client pour le moment !</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
