<div id="footer" class="w-full pt-10 rounded-b-lg">
    <div class="bg-gray-100 ">
        <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-center">
            <div class="p-5 w-48 ">
                <div class="text-xs uppercase text-gray-500 font-medium">Tout au crochet</div>
                <a class="my-3 block" href="">Créations <span class="text-teal-600 text-xs p-1"></span></a>
                <a class="my-3 block" href="">Personnalisable<span class="text-teal-600 text-xs p-1"></span></a>
            </div>
            <div class="p-5 w-48 ">
                <div class="text-xs uppercase text-gray-500 font-medium">Utilisateur</div>
                <a class="my-3 block" href=" {{ path("app_register")}}">Inscription <span class="text-teal-600 text-xs p-1"></span></a>
                <a class="my-3 block" href=" {{ path("app_profil") }}">Mon Compte <span class="text-teal-600 text-xs p-1"></span></a>
            </div>
            <div class="p-5 w-48 ">
                <div class="text-xs uppercase text-gray-500 font-medium">Mention</div>
                <a class="my-3 block" href=" {{ path('mention') }}">Mention légale</a>
            </div>
        </div>
    </div>

    <div class="bg-gray-100 pt-2 rounded-b-lg ">
        <div class="flex pb-5 px-3 m-auto pt-5 border-t text-gray-800 text-sm flex-col
      md:flex-row max-w-6xl">
            <div class="mt-2">© Copyright 2020 </div>
            <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                <a href="" class="mx-1">
                    <img src="https://cdn.worldvectorlogo.com/logos/instagram-5.svg"  class="w-8" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
