<div
        class="relative top-0 bg-vert3 header bg-white h-14 px-10 py-4 border-b-4 border-vert3 flex items-center justify-between">
    <div class="flex items-center space-x-12 text-sm">
        <i class="fas fa-bars fa-2x cursor-pointer hover:text-white"
           @click="open = !open"></i>
    </div>
    <div class="flex items-center space-x-8 text-gray-900 text-base px-4 py-2">
                    <span class="relative inline-block cursor-pointer">
                        <i class="fas fa-bell"></i>
                        <span
                                class="absolute top-0 right-0 inline-flex items-center justify-center px-1  py-0.5 text-xs font-thin leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full">99</span>
                    </span>
        <span class="relative inline-block cursor-pointer">
                        <i class="fas fa-envelope"></i>
                        <span
                                class="absolute top-0 right-0 inline-flex items-center justify-center px-1 py-0.5 text-xs font-thin leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-500 rounded-full">9</span>
                    </span>
    </div>
</div>